main > .container {
  padding: 60px 15px;
  margin-top: 55px;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.invalid-feed {
  color: red;
  display: none;
}

.invalid-feed.on {
  display: block;
}

/* Забрал из шаблона
-------------------------------------------------- */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Забрал из шаблона 
-------------------------------------------------- */



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 9%
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 26px;
}




/* Modal
-------------------------------------------------- */
.modalBase {
  color: black;
}

.modalBase.show .modal-overlay,
.modalBase.show .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modalBase.hide .modal-overlay,
.modalBase.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modalBase.show .modal-window {
  transform: translateY(100px);
}

.modalBase.show .modal-overlay {
  background: rgba(0, 0, 0, .4);
}

.modalBase.hide .modal-window {
  transform: translateY(-200px);
}

.modalBase.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-overlay, .modal-window {
opacity: 0;
z-index: -1;
}

.modal-overlay {
  position: fixed;
  padding: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform .2s ease-in;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
/* Modal
-------------------------------------------------- */


/* Agreement
-------------------------------------------------- */
#buttonForm {
  margin-top: 40px;
  float: right;
}

#btnStatus {
  width: 146px;
}

#btnComment {
  width: 146px;
}
/* Agreement
-------------------------------------------------- */
